extends layout

block content
  div#BVRRSummaryContainer
  div#BVRRContainer

block scripts
  div#bvapi
    //script(src='http://display-qa.ugc.bazaarvoice.com/bvstaging/static/bv-localtestclient/Vans%20Site/bvapi.js')
    script(id='bvapis', src='http://display-qa.ugc.bazaarvoice.com/bvstaging/static/bv-localtestclient/en_US/bvapi.js')
  script(type='text/javascript')
    $BV.configure('global', { productId : 'product1'});
    $BV.ui( 'rr', 'show_reviews', {
      doShowContent : function () {
        // If the container is hidden (such as behind a tab), put code here to make it visible (open the tab).
      }, showComments:true
    });
